*{
    font-family: 'Roboto', sans-serif;
}

.container-white{
    width: 100%;
    height: 41px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container-img-logo{
    height: 40px;
    width: 10%;
    display: flex;
    
}

.img_logo{
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

.container-magnifying-glass{
    width: 30px;
    height: 100%;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
}


.container-input-search{
    width: 75%;
    height: 90%;
}

.input-search{
    width: 100%;
}

.container-icon-nav{
    width: 10%;
    height: 40px;
}


/* ASIDE */

.my_container_aside_main{
    display: flex;
    justify-content: flex-start;
}

.aside{
    width: 100px;
    height: calc( 100% - 55px );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #11273e;
    margin-top: 57px;
}

.container_icon_aside{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_aside{
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

div h6{
    font-size: 13px;
    font-weight: lighter;
    padding-top: .5rem;
}


/* MAIN */

main{
    max-width: calc( 100% - 110px );
    margin-top: 57px;
    margin-left: 100px;
}

.header_main{
    width: 100%;
    height: 12%;
    background-color: #1b72e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .5rem;
}

.add-student{
    color: white;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
}

.container-offcanvas{
    width: 100%;
    height: 100%;
}

#my_offcanvas{
    width: 98%;
    display: flex;
    overflow: auto;
}

.container-h5-header{
    height: 20px;
    width: 80px;
}

.container-p-header{
    height: 15px;
    width: 60px;
    color: white;
    background-color: #165bba;
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .4rem;
}

.container-p-3-app-header{
    height: 15px;
    width: 30px;
    color: white;
    background-color: #165bba;
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .4rem;
}

.container-icon-angles{
    height: 15px;
    width: 15px;
    margin-left: .4rem;
    padding-top: .2rem;
}

.container-p-plus-header{
    height: 15px;
    width: 17px;
    color: white;
    background-color: #165bba;
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .4rem;
}

.container-p-xl-header{
    height: 15px;
    width: 85px;
    color: white;
    background-color: #165bba;
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .4rem;
}

.p-xl-header{
    font-size: 9px;
    font-weight: lighter;
    padding-top: .1rem;
    padding-left: .2rem;
}

.p{
    font-size: 9px;
    font-weight: lighter;
    padding-top: 1rem;
}

.p-todo{
    padding-top: .2rem;
    font-size: 13px;
}

.my_row_header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code-icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #f26551;
    display: flex;
    justify-content: center;
    align-items: center;
}

td p{
    padding-top: .4rem;
    margin-left: .5rem;
}

.container-text-table-state{
    height: 13px;
    width: 30px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-top: .8rem;
}

.container-action{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.my-little_row_header{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.height-h5-header{
    height: 50%;
}

.marg-header{
    margin-left: 1rem;
}

.my_row_dropdown{
    width: 100%;
}


/* MEDIA */

@media screen and (min-width: 576px) {
    #my_offcanvas{
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    .header_main{
        height: 8%;
    }

    .my_row_header{
        flex-direction: row-reverse;
    }

    .my-little_row_header{
        flex-direction: row;
    }
}